body {
  background-color: #f5f6f8;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  width: 500px;
  margin: 0 auto;
}
.btns {
  color: white;
  background-color: #6096b4;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 15px 20px;
  border-radius: 3px;
  margin: 10px 0;
  min-width: 200px;
}

input[type="text"].input {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 8px 10px;
}

label {
  padding-top: 5px;
}
a {
  color: #6096b4;
  font-weight: bold;
  text-decoration: none;
}
